[submodule "dsh-market"]
	path = dsh-market
	url = https://github.com/dsh-market/dsh-market.git
[submodule "deepseek-harness"]
	path = deepseek-harness
	url = https://github.com/deepseek-ai/deepseek-harness.git
[submodule "harmonypc-electron"]
	path = harmonypc-electron
	url = https://github.com/fellow99/harmonypc-electron.git
[submodule "dsh-desktop"]
	path = dsh-desktop
	url = https://github.com/fellow99/dsh-desktop.git
[submodule "dsh-desktop-hos"]
	path = dsh-desktop-hos
	url = https://github.com/fellow99/dsh-desktop-hos.git
[submodule "dsh-desktop-website"]
	path = dsh-desktop-website
	url = https://github.com/fellow99/dsh-desktop-website.git
