[submodule "dsh-market"]
	path = dsh-market
	url = https://github.com/dsh-market/dsh-market.git
[submodule "deepseek-harness-desktop"]
	path = deepseek-harness-desktop
	url = https://github.com/fellow99/deepseek-harness-desktop.git
[submodule "deepseek-harness"]
	path = deepseek-harness
	url = https://github.com/deepseek-ai/deepseek-harness.git
[submodule "deepseek-harness-harmony"]
	path = deepseek-harness-harmony
	url = https://github.com/fellow99/deepseek-harness-harmony.git
